.menu-container {
  display: flex;
  width: 100%;
  padding-top: 8px;
  flex-direction: column;
  align-items: center;
  background: var(--Others-White, #FFF);
  align-self: flex-end;

  .menu {
	display: flex;
	height: 48px;
	padding: 0 32px;
	justify-content: center;
	align-items: center;
	gap: 19px;
	align-self: stretch;

	.icon {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  gap: 2px;
	  flex: 1 0 0;

	  .container-svg {
		display: flex;
		padding: 2px 4.16px 2.13px 4px;
		justify-content: center;
		align-items: center;

		.select1 svg {
		  stroke: #7E92F8;
		}

		.select23 svg {
		  fill: #7E92F8;
		}

		.svg1 svg {
		  stroke: #9E9E9E;
		}

		.svg23 svg {
		  fill: #9E9E9E;
		}
	  }

	  p {
		align-self: stretch;
		text-align: center;
		font-size: 10px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%; /* 16px */
		letter-spacing: 0.2px;
	  }
	}
  }
}
