

.container-anketa {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background: var(--Others-White, #FFF);
  justify-content: space-between;

  @media screen and (max-width: 280px) {

	input {
	  font-size: 14px;
	}
  }

  .statusbar {
	width: 100vw;
	height: 4.7vh;
	flex-shrink: 0;
  }

  .block-text {
	display: flex;
	width: 93vw;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;

	h3 {
	  align-self: stretch;
	  color: var(--Greyscale-900, #212121);
	  text-align: center;
	  font-size: 28px;
	  font-style: normal;
	  font-weight: 700;
	  line-height: 160%;
	}
  }

  .form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5vh;
	flex: 1 0 0;
	position: relative;

	p {
	  color: red;
	  padding-left: 15px;
	}
  }
}

.date:not(.has-value):before {
  content: attr(placeholder);
  width: 100%;
}

.date {
  appearance: none !important;
  background-image: url(../../img/calendar.svg) !important;
  background-repeat: no-repeat !important;
  background-position: calc(100% - 15px) center !important;
  position: relative;
}

.date::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

.interests {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;

  label {
	display: inline-flex;
	padding: 0 10px;
	align-items: flex-start;
	text-align: center;
	gap: 10px;
	flex-shrink: 0;
	color: var(--Greyscale-900, #212121);
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 160%;
	letter-spacing: 0.2px;
	justify-content: center;
	width: 87.4vw;
	margin: 0 auto;
  }
}

//@media (max-height: 780px) {
//
//  .container-anketa {
//	gap: 20px;
//  }
//  .interests {
//	gap: 20px;
//  }
//
//  .education-btns {
//	padding: 24px 24px 36px 24px;
//  }
//
//
//}
//
//@media (max-width: 800px) {
//  .interests textarea {
//    padding-top: 31% !important;
//  }
//}
//
//@media (max-width: 700px) {
//  .interests textarea {
//    padding-top: 45% !important;
//
//  }
//}
//
//@media (max-width: 750px) and (max-height: 700px) {
//  .interests textarea {
//	padding-top: 20% !important;
//  }
//}


@media (max-width: 400px) {
  .block-text h3 {
	font-size: 23px !important;
  }
}
